In [1]:
import pandas as pd

## GP16 Data Cleaning & Merging

In [5]:
# Import CSV file as Pandas Dataframes
HgD = pd.read_csv('../Data/GP16/GP16_HgD.csv')
Bottle = pd.read_csv('../Data/GP16/GP16_Bottle.csv')
Profile = pd.read_csv('../Data/GP16/GP16_Profile.csv')

In [6]:
HgD.head()

,STNNBR,lat,lon,GEOTRC_SAMPNO,depth,HgT_pM,HgT_flag,Hg0_pM,Hg0_flag,MMHg_pM,MMHg_flag,DMHg_pM,DMHg_flag
0,1,-12.01,-79.2,2091,2,0.03,2.0,NaN,9,NaN,9,NaN,9
1,1,-12.01,-79.2,2127,20,0.49,2.0,0.00,2,NaN,9,NaN,9
2,1,-12.01,-79.2,2126,20,NaN,9.0,NaN,9,0.19,2,0.01,2
3,1,-12.01,-79.2,2125,30,0.69,2.0,0.17,2,NaN,9,NaN,9
4,1,-12.01,-79.2,2124,30,NaN,9.0,NaN,9,0.00,2,0.01,2

In [7]:
Bottle.head()

,STNNBR,LATITUDE,LONGITUDE,GEOTRC_SAMPNO,depth,SILCAT,SILCAT_FLAG_W,NITRAT,NITRAT_FLAG_W,NITRIT,NITRIT_FLAG_W,PHSPHT,PHSPHT_FLAG_W
0,1,-12.01,-79.2,2070,3198,150.90,2,37.01,2,0.0,2,2.68,2
1,1,-12.01,-79.2,2069,3198,150.90,2,37.04,2,0.0,2,2.67,2
2,1,-12.01,-79.2,2068,3599,148.65,2,36.73,2,0.0,2,2.66,2
3,1,-12.01,-79.2,2020,3599,148.36,2,36.74,2,0.0,2,2.66,2
4,1,-12.01,-79.2,2019,3999,142.60,2,36.09,2,0.0,2,2.62,2

In [8]:
HgD.shape

(1656, 13)

In [10]:
# Merge HgD with Bottle
GT16_HgD = HgD.merge(Bottle, how='left', on=['STNNBR', 'depth'])
GT16_HgD.head()

,STNNBR,lat,lon,GEOTRC_SAMPNO_x,depth,HgT_pM,HgT_flag,Hg0_pM,Hg0_flag,MMHg_pM,...,LONGITUDE,GEOTRC_SAMPNO_y,SILCAT,SILCAT_FLAG_W,NITRAT,NITRAT_FLAG_W,NITRIT,NITRIT_FLAG_W,PHSPHT,PHSPHT_FLAG_W
0,1,-12.01,-79.2,2091,2,0.03,2.0,NaN,9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,-12.01,-79.2,2127,20,0.49,2.0,0.0,2,NaN,...,-79.2,2127.0,2.63,2.0,7.48,2.0,0.6,2.0,0.95,2.0
2,1,-12.01,-79.2,2127,20,0.49,2.0,0.0,2,NaN,...,-79.2,2126.0,2.63,2.0,7.51,2.0,0.6,2.0,0.98,2.0
3,1,-12.01,-79.2,2126,20,NaN,9.0,NaN,9,0.19,...,-79.2,2127.0,2.63,2.0,7.48,2.0,0.6,2.0,0.95,2.0
4,1,-12.01,-79.2,2126,20,NaN,9.0,NaN,9,0.19,...,-79.2,2126.0,2.63,2.0,7.51,2.0,0.6,2.0,0.98,2.0

In [11]:
GT16_HgD.shape

(2323, 24)

In [12]:
# Remove duplicate depths in GT16_HgD dataframe
GT16_HgD = GT16_HgD.groupby(by=['STNNBR', 'depth']).mean()
GT16_HgD.shape

(1148, 21)

In [13]:
Profile.head()

,STNNBR,CTDPRS,CTDPRS_FLAG_W,CTDTMP,CTDTMP_FLAG_W,CTDSAL,CTDSAL_FLAG_W,CTDOXY,CTDOXY_FLAG_W,TRANSM,TRANSM_FLAG_W,FLUORM,FLUORM_FLAG_W,TURBDTY,TURBDTY_FLAG_W,depth
0,1,7,2,17.78,2,35.18,2,259.9,1,4.62,1,0.12,1,0.17,1,7
1,1,8,2,17.72,2,35.18,2,260.5,1,4.61,1,0.12,1,0.18,1,8
2,1,9,2,17.65,2,35.17,2,260.5,1,4.60,1,0.14,1,0.17,1,9
3,1,10,2,17.57,2,35.17,2,261.1,1,4.60,1,0.15,1,0.18,1,10
4,1,11,2,17.54,2,35.17,2,261.0,1,4.59,1,0.18,1,0.20,1,11

In [14]:
# Merge GT16_HgD with Profile
GT16_HgD = GT16_HgD.merge(Profile, how='left', on=['STNNBR', 'depth'])
GT16_HgD.head()

,STNNBR,depth,lat,lon,HgT_pM,HgT_flag,Hg0_pM,Hg0_flag,MMHg_pM,MMHg_flag,...,CTDSAL,CTDSAL_FLAG_W,CTDOXY,CTDOXY_FLAG_W,TRANSM,TRANSM_FLAG_W,FLUORM,FLUORM_FLAG_W,TURBDTY,TURBDTY_FLAG_W
0,1,2,-12.01,-79.2,0.03,2.0,NaN,9.0,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,20,-12.01,-79.2,0.49,5.5,0.00,5.5,0.19,5.5,...,35.17,2.0,259.5,1.0,4.60,1.0,0.33,1.0,0.17,1.0
2,1,20,-12.01,-79.2,0.49,5.5,0.00,5.5,0.19,5.5,...,35.18,2.0,255.5,1.0,4.60,1.0,0.46,1.0,0.29,1.0
3,1,20,-12.01,-79.2,0.49,5.5,0.00,5.5,0.19,5.5,...,35.20,2.0,252.3,1.0,4.66,1.0,0.37,1.0,0.16,1.0
4,1,30,-12.01,-79.2,0.69,5.5,0.17,5.5,0.00,5.5,...,35.20,2.0,250.5,1.0,4.67,1.0,0.44,1.0,0.16,1.0

In [15]:
GT16_HgD.shape

(2127, 37)

In [16]:
# Remove duplicate depths in GT16_HgD dataframe
GT16_HgD = GT16_HgD.groupby(by=['STNNBR', 'depth']).mean()
GT16_HgD.shape

(1148, 35)

In [17]:
GT16_HgD.columns

Index(['lat', 'lon', 'HgT_pM', 'HgT_flag', 'Hg0_pM', 'Hg0_flag', 'MMHg_pM',
       'MMHg_flag', 'DMHg_pM', 'DMHg_flag', 'LATITUDE', 'LONGITUDE',
       'GEOTRC_SAMPNO_y', 'SILCAT', 'SILCAT_FLAG_W', 'NITRAT', 'NITRAT_FLAG_W',
       'NITRIT', 'NITRIT_FLAG_W', 'PHSPHT', 'PHSPHT_FLAG_W', 'CTDPRS',
       'CTDPRS_FLAG_W', 'CTDTMP', 'CTDTMP_FLAG_W', 'CTDSAL', 'CTDSAL_FLAG_W',
       'CTDOXY', 'CTDOXY_FLAG_W', 'TRANSM', 'TRANSM_FLAG_W', 'FLUORM',
       'FLUORM_FLAG_W', 'TURBDTY', 'TURBDTY_FLAG_W'],
      dtype='object')

In [20]:
# Remove data with bad quality codes
# https://exchange-format.readthedocs.io/en/latest/quality.html

# CTD codes (keep codes 2 & 3)

GT16_HgD = GT16_HgD.loc[(GT16_HgD['CTDSAL_FLAG_W'] > 1) | (GT16_HgD['CTDSAL_FLAG_W'] < 4)]
GT16_HgD = GT16_HgD.loc[(GT16_HgD['CTDOXY_FLAG_W'] > 1) | (GT16_HgD['CTDOXY_FLAG_W'] < 4)]
GT16_HgD = GT16_HgD.loc[(GT16_HgD['SILCAT_FLAG_W'] > 1) | (GT16_HgD['SILCAT_FLAG_W'] < 4)]
GT16_HgD = GT16_HgD.loc[(GT16_HgD['TRANSM_FLAG_W'] > 1) | (GT16_HgD['TRANSM_FLAG_W'] < 4)]
GT16_HgD = GT16_HgD.loc[(GT16_HgD['FLUORM_FLAG_W'] > 1) | (GT16_HgD['FLUORM_FLAG_W'] < 4)]

# Water quality codes (remove codes 1, 4, 5, 9)


GT16_HgD = GT16_HgD.loc[(GT16_HgD['HgT_flag'] > 1) | (GT16_HgD['HgT_flag'] < 4)| (GT16_HgD['HgT_flag'] == 6)]
GT16_HgD = GT16_HgD.loc[(GT16_HgD['Hg0_flag'] > 1) | (GT16_HgD['Hg0_flag'] < 4)| (GT16_HgD['Hg0_flag'] == 6)]
GT16_HgD = GT16_HgD.loc[(GT16_HgD['MMHg_flag'] > 1) | (GT16_HgD['MMHg_flag'] < 4)| (GT16_HgD['MMHg_flag'] == 6)]
GT16_HgD = GT16_HgD.loc[(GT16_HgD['DMHg_flag'] > 1) | (GT16_HgD['DMHg_flag'] < 4)| (GT16_HgD['DMHg_flag'] == 6)]

GT16_HgD = GT16_HgD.loc[(GT16_HgD['NITRAT_FLAG_W'] > 1) | (GT16_HgD['NITRAT_FLAG_W'] < 4)| (GT16_HgD['NITRAT_FLAG_W'] == 6)]
GT16_HgD = GT16_HgD.loc[(GT16_HgD['NITRIT_FLAG_W'] > 1) | (GT16_HgD['NITRIT_FLAG_W'] < 4)| (GT16_HgD['NITRIT_FLAG_W'] == 6)]
GT16_HgD = GT16_HgD.loc[(GT16_HgD['PHSPHT_FLAG_W'] > 1) | (GT16_HgD['PHSPHT_FLAG_W'] < 4)| (GT16_HgD['PHSPHT_FLAG_W'] == 6)]

GT16_HgD.shape

(384, 35)

In [22]:
# Remove unneeded columns

GT16_HgD.drop(columns=['HgT_flag','Hg0_flag','MMHg_flag', 'DMHg_flag', 'LATITUDE', 'LONGITUDE',
       'GEOTRC_SAMPNO_y','SILCAT_FLAG_W','NITRAT_FLAG_W',
       'NITRIT_FLAG_W',  'PHSPHT_FLAG_W',
       'CTDPRS_FLAG_W', 'CTDTMP_FLAG_W', 'CTDSAL_FLAG_W',
       'CTDOXY_FLAG_W',  'TRANSM_FLAG_W', 
       'FLUORM_FLAG_W'], inplace=True)

GT16_HgD.head()

                lat   lon  HgT_pM  Hg0_pM  MMHg_pM  DMHg_pM  SILCAT  NITRAT  \
STNNBR depth
1      20    -12.01 -79.2    0.49    0.00     0.19     0.01    2.63   7.495
       30    -12.01 -79.2    0.69    0.17     0.00     0.01    2.10   7.780
       45    -12.01 -79.2    0.51    0.09     0.07     0.00    1.27   7.420
       80    -12.01 -79.2    0.98    0.03     0.06     0.03   21.42  17.740
       235   -12.01 -79.2    0.44    0.07     0.09     0.10   31.28  14.785

              NITRIT  PHSPHT  CTDPRS     CTDTMP     CTDSAL      CTDOXY  \
STNNBR depth
1      20      0.600   0.965    20.0  17.630000  35.183333  255.766667
       30      0.620   1.050    30.0  17.493333  35.193333  252.666667
       45      0.600   1.310    45.0  17.293333  35.190000  247.133333
       80      3.140   2.635    80.0  14.186667  34.956667   23.033333
       235     8.955   2.540   236.0  12.230000  34.870000    6.266667

                TRANSM    FLUORM   TURBDTY  TURBDTY_FLAG_W
STNNBR depth
1      20     4.620000  0.386667  0.206667             1.0
       30     4.663333  0.440000  0.170000             1.0
       45     4.726667  0.250000  0.116667             1.0
       80     4.753333  0.066667  0.096667             1.0
       235    4.790000  0.020000  0.063333             1.0

In [24]:
# Export 
GT16_HgD.to_csv('../Data/GP16/GP16_HgD_cleaned.csv')

In [25]:
# Import GP16_HgP_merged file as Pandas Dataframe
    # Particulate Hg, POC and GN01_D file merged in SQL with depths matching +/- 5 meters
GP16_HgP_merged = pd.read_csv('../Data/GP16/GP16_HgP_merged.csv')
GP16_HgP_merged.head()

,STNNBR,depth,lat,lon,HgP_pmol_ug,HgP_flag,MMHgP_pmol_ug,MMHgP_flag,POC_umolC_L,POC_sink_flag,...,SILCAT,NITRAT,NITRIT,PHSPHT,CTDPRS,CTDTMP,CTDSAL,CTDOXY,TRANSM,FLUORM
0,1,20,-12.01,-79.2,0.00,2,0.00,2,3.96,0,...,2.63,7.495,0.600,0.965,20.0,17.630000,35.183333,255.766667,4.620000,0.386667
1,1,30,-12.01,-79.2,0.00,2,0.00,2,2.89,0,...,2.10,7.780,0.620,1.050,30.0,17.493333,35.193333,252.666667,4.663333,0.440000
2,1,80,-12.01,-79.2,0.00,2,0.00,2,2.24,0,...,21.42,17.740,3.140,2.635,80.0,14.186667,34.956667,23.033333,4.753333,0.066667
3,1,235,-12.01,-79.2,0.00,2,0.00,2,0.69,0,...,31.28,14.785,8.955,2.540,236.0,12.230000,34.870000,6.266667,4.790000,0.020000
4,1,300,-12.01,-79.2,0.01,2,0.09,2,0.58,0,...,30.89,23.615,5.505,2.575,301.0,11.390000,34.816667,6.400000,4.793333,0.020000

In [26]:
GP16_HgP_merged.shape

(187, 25)

In [28]:
# Remove duplicate depths in GN01_P dataframe
GP16_HgP_merged = GP16_HgP_merged.groupby(by=['STNNBR', 'depth']).mean()
GP16_HgP_merged.shape

(186, 23)

In [29]:
GP16_HgP_merged.columns

Index(['lat', 'lon', 'HgP_pmol_ug', 'HgP_flag', 'MMHgP_pmol_ug', 'MMHgP_flag',
       'POC_umolC_L', 'POC_sink_flag', 'POC_susp_flag', 'HgT_pM', 'Hg0_pM',
       'MMHg_pM', 'DMHg_pM', 'SILCAT', 'NITRAT', 'NITRIT', 'PHSPHT', 'CTDPRS',
       'CTDTMP', 'CTDSAL', 'CTDOXY', 'TRANSM', 'FLUORM'],
      dtype='object')

In [30]:
# Remove data with bad quality codes
# https://exchange-format.readthedocs.io/en/latest/quality.html

# Water quality codes (remove codes 1, 4, 5, 9)

GP16_HgP_merged = GP16_HgP_merged.loc[(GP16_HgP_merged['MMHgP_flag'] > 1) | (GP16_HgP_merged['MMHgP_flag'] < 4)| (GP16_HgP_merged['MMHgP_flag'] == 6)]
GP16_HgP_merged = GP16_HgP_merged.loc[(GP16_HgP_merged['HgP_flag'] > 1) | (GP16_HgP_merged['HgP_flag'] < 4)| (GP16_HgP_merged['HgP_flag'] == 6)]
GP16_HgP_merged = GP16_HgP_merged.loc[(GP16_HgP_merged['POC_sink_flag'] > 1) | (GP16_HgP_merged['POC_sink_flag'] < 4)| (GP16_HgP_merged['POC_sink_flag'] == 6)]
GP16_HgP_merged = GP16_HgP_merged.loc[(GP16_HgP_merged['POC_susp_flag'] > 1) | (GP16_HgP_merged['POC_susp_flag'] < 4)| (GP16_HgP_merged['POC_susp_flag'] == 6)]

GP16_HgP_merged.shape

(186, 23)

In [31]:
# Remove unneeded columns

GP16_HgP_merged.drop(columns=['HgP_flag', 
       'MMHgP_flag', 'POC_sink_flag', 'POC_susp_flag'], inplace=True)

GP16_HgP_merged.head()

                lat   lon  HgP_pmol_ug  MMHgP_pmol_ug  POC_umolC_L  HgT_pM  \
STNNBR depth
1      20    -12.01 -79.2         0.00           0.00         3.96    0.49
       30    -12.01 -79.2         0.00           0.00         2.89    0.69
       80    -12.01 -79.2         0.00           0.00         2.24    0.98
       235   -12.01 -79.2         0.00           0.00         0.69    0.44
       300   -12.01 -79.2         0.01           0.09         0.58    1.14

              Hg0_pM  MMHg_pM  DMHg_pM  SILCAT  NITRAT  NITRIT  PHSPHT  \
STNNBR depth
1      20       0.00     0.19     0.01    2.63   7.495   0.600   0.965
       30       0.17     0.00     0.01    2.10   7.780   0.620   1.050
       80       0.03     0.06     0.03   21.42  17.740   3.140   2.635
       235      0.07     0.09     0.10   31.28  14.785   8.955   2.540
       300      0.12     0.05     0.22   30.89  23.615   5.505   2.575

              CTDPRS     CTDTMP     CTDSAL      CTDOXY    TRANSM    FLUORM
STNNBR depth
1      20       20.0  17.630000  35.183333  255.766667  4.620000  0.386667
       30       30.0  17.493333  35.193333  252.666667  4.663333  0.440000
       80       80.0  14.186667  34.956667   23.033333  4.753333  0.066667
       235     236.0  12.230000  34.870000    6.266667  4.790000  0.020000
       300     301.0  11.390000  34.816667    6.400000  4.793333  0.020000

In [32]:
# Export 
GP16_HgP_merged.to_csv('../Data/GP16/GP16_HgP_cleaned.csv')